:root {
    --primaryColour: #b20000;
    --secondaryColour: #fb5b1c;
    --accentColour: #4caf50;
    --backgroundColour: #f0e5cf;
    --textColour: #333;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 200%;
    text-align: center;
    color: var(--text-color);
    background-color: var(--backgroundColour);
}

.Title {
    color:var(--primaryColour);
    font-size: 500%;
    padding: 250px;
    background-image: url(images/titleImage.jpg);
    border-radius: 100px;
}

.headerTop {
    overflow: hidden;
    padding: 20px 10px;
}

/* Style the header links */
.headerTop a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Change the background color on mouse-over */
.headerTop a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.headerTop a.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 10%;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.header-left {
    float: left;
    font-size: 12px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}

.Header {
    font-size: 65%;
    text-align: left;
}

.headerTwo {
    color:var(--secondaryColour);
}

.shrineImage {
    float: left;
    border-radius: 50rem;
    width: 50%
}

.shintoRed {
    float: right;
    width: 45%;
    margin: 2%;
}

.shintoKami {
    float: left;
    margin: 1%;
    width: 35%;
}

.shintoPurification {
    float: right;
    margin: 1%;
    width: 40%;
    border-radius: 4rem;
}

.nature {
    float:left;
    margin: 1%;
    width: 40%;
    border-radius: 40%;
}

.shintoClothing {
    float: left;
    margin: 1%;
    width: 40%;
    border-radius: 10%;
}

.citations {
    color: #147217;
    font-size: 18px;
}